<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>verificatorservlet</servlet-name>
  	<servlet-class>com.bank.application.verificator</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createaccount</servlet-name>
  	<display-name>createaccount</display-name>
  	<description></description>
  	<servlet-class>com.backend.createaccount</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>createaccountforupload</servlet-name>
  	<display-name>createaccountforupload</display-name>
  	<description></description>
  	<servlet-class>com.bank.application.createaccountforupload</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<display-name>delete</display-name>
  	<description></description>
  	<servlet-class>com.backend.delete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatechecker</servlet-name>
  	<display-name>updatechecker</display-name>
  	<description></description>
  	<servlet-class>com.backend.updatechecker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>customerchecker</servlet-name>
  	<display-name>customerchecker</display-name>
  	<description></description>
  	<servlet-class>com.backend.customerchecker</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changepassword</servlet-name>
  	<display-name>changepassword</display-name>
  	<description></description>
  	<servlet-class>com.backend.changepassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deposit</servlet-name>
  	<display-name>Deposit</display-name>
  	<description></description>
  	<servlet-class>com.backend.Deposit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>withdraw</servlet-name>
  	<display-name>withdraw</display-name>
  	<description></description>
  	<servlet-class>com.backend.withdraw</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>printstatement</servlet-name>
  	<display-name>printstatement</display-name>
  	<description></description>
  	<servlet-class>com.backend.printstatement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>closeAccount</servlet-name>
  	<display-name>closeAccount</display-name>
  	<description></description>
  	<servlet-class>com.backend.closeAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>verificatorservlet</servlet-name>
  	<url-pattern>/Adminpage/verificator</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createaccount</servlet-name>
  	<url-pattern>/Adminpage/createaccount</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>createaccountforupload</servlet-name>
  	<url-pattern>/createaccountforupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/Adminpage/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatechecker</servlet-name>
  	<url-pattern>/Adminpage/updatechecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customerchecker</servlet-name>
  	<url-pattern>/Customerpage/customerchecker</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changepassword</servlet-name>
  	<url-pattern>/Customerpage/changepassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deposit</servlet-name>
  	<url-pattern>/Customerpage/Deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>withdraw</servlet-name>
  	<url-pattern>/Customerpage/withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>printstatement</servlet-name>
  	<url-pattern>/Customerpage/printstatement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>closeAccount</servlet-name>
  	<url-pattern>/Customerpage/closeAccount</url-pattern>
  </servlet-mapping>
</web-app>
